@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

body{
  color: black;
  font-size: 10px;
  line-height: 1.6;
  background-color: #e8e8e8;
}

h1{
  font-family: 'Open sans', monospace;
    color: #214252;
    line-height: 1;
    font-size: 35px;
}

h2{
  font-family: 'Poppins';
  font-weight: 500;
  color: #af2d2d;
  line-height: 1;
  font-size: 24px;
}

p{
  font-family: 'Poppins';
  font-weight: 100;
  font-size: small;
  margin: 16px 0px 32px;
}

a{
  font-family: 'Poppins';
  font-weight: bold;
  color: #ce6262 ;
  text-decoration: none;
}

a:hover{
  color: #f05454;
}

div{
  background: white;
  padding: 24px;
  margin: 16px;
}

.container{
  background-color: #e8e8e8;
}

.img-circle {
  border-radius: 85px;
  width: 170px;
  height: 170px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}
.card-white {
  background: white;
  padding: 30px;
  box-shadow: 0 17px 35px rgba(0,0,0,0.1);
  border: 1px solid lightgrey;
  width: 500px;
  margin: 30px auto;
  border-radius: 8px;
}
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-blue{
  background-color: #ce6262 ;
  color: white;
  padding: 24px 24px;
  border-radius: 8px;
}

.btn-blue:hover{
  background-color: #f05454 ;
  color: white;
}

.social-icon{
  font-size: 34px;
  color: rgba(220, 220, 220);
  margin: 20px 12px;
}

.social-icon:hover{
  color: #f05454 ;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
